<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag "admin_top", :media => "all" %>
    <title>アドミン</title>
  </head>
  <body>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

<h1>Job List</h1>

<div>
<a href="admin_user">求職者一覧へ</a>
</div>
<div>
  <form action="cgi-bin/formmail.cgi" method="post">
  <input name="authenticity_token" type="hidden" value="1234" />
    <a href="new_edit"><button type="submit" name="edit">新規作成ページへ</button></a>
</form>
</div>
    案件は<%= Job.count %>件です<br>
  <div>
    <% Job.all.each do |job| %>
    <%= job.area %><br>
      <a href="/job/<%= job.id %>"><%= job.title %></a><br>
        →<%= job.description %><br>
        応募数:<%= JobUser.where(job_id: job.id).count %><br>
        <a href="/edit/<%= job.id %>"><button type="submit" name="edit">編集</button></a><br>
<% end %>

</div>
<br>

<div>
  <form action="cgi-bin/formmail.cgi" method="post">
  <input name="authenticity_token" type="hidden" value="1234" />
    <a href="new_edit"><button type="submit" name="edit">新規作成ページへ</button></a>
</form>
</div>


  </body>
</html>
