<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>案件編集確認ページ</title>
  </head>
  <body>
    <hi>確認ページ</hi>

  <%= form_for @job, :url => {:action => 'thanks'} do |f| %>
        <form action="thanks" class="edit" id="edit" method="post">
          <input name="authenticity_token" type="hidden" value="1234" />
          <table class="table">
            <tr>
              <th>タイトル</th>
              <td>
                <%= f.hidden_field :title %>
                <%= @job.title %>
              </td>
            </tr>
            <tr>
              <th>説明文</th>
              <td>
                <%= f.hidden_field :description %>
                <%= @job.description %>
              </td>
            </tr>
            <tr>
              <th>都道府県</th>
              <td>
                <%= f.hidden_field :area %>
                <%= @job.area %>
              </td>
            </tr>

          </table>
          <%= f.submit '送信', :class => 'btn btn-primary' %>
        <% end %>
  </body>
</html>
