<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>編集ページ</title>
      <%= stylesheet_link_tag "admin_top", :media => "all" %>
  </head>
  <body>
    <div id="wrapper">
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header"><button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span><span class="icon-bar"></span>
      </button><a class="navbar-brand" href="/admin_top">happyhappy2016管理画面</a>
      <div class="navbar-text"><small><a class="color-off" href="/admin_top">v2</a></small>
      </div>
    </div>
    <ul class="nav navbar-right top-nav">
      <li class="dropdown"><a class="dropdown-toggle"data-toggle="dropdown"><i class="fa fa-user">野崎 優子</i><b class="caret"></b></a>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li><a href="/admin_top">求人管理</a></li>
            <li><a href="/admin_user">求職者管理</a></li>
            <li><a href="/new_edit">新規求人作成</a></li>
          </ul>
        </div>
      </nav>

      <div id="page-wrapper">
        <h1 class="page-header">編集ページ</h1>
        <div id="page-wrapper">
          <h1 class="page-header">新規求人作成</h1>
          <h2 class="headline">公開設定</h2>
          <table class="table table-bordered">
            <thead>
              <tr class="active">
                <th class="col-sm-2 text-center"></th>
                <th class="col-sm-4">変更欄</th>
              </tr>
            </thead>
            <tbody>
              <form method="post" action="edit/<%= @job.id %>/thanks" enctype="multipart/form-data">
              <tr>
                <th class="text-right">求人コード</th>
                  <td><%= @job.id %></td>
              </tr>
              <tr>
                <th class="text-right">タイトル<span class="label label-danger label-margin-2px">必須</span></th>
                  <td>
                    <div class="row">
                      <div class="col-sm-8 form-group">
                        <input class="form-control" type="text" name="title" value="<%= @job.title%>">
                      </div>
                    </div>
                  </td>
              </tr>
              <tr>
                <th class="text-right">説明文<span class="label label-danger label-margin-2px">必須</span></th>
                  <td>
                    <div class="row">
                      <div class="col-sm-8 form-group">
                        <textarea class="form-control" type="text" name="description" value="<%= @job.description %>">
                           </textarea>
                      </div>
                    </div>
                  </td>
              </tr>
              <tr>
                <th class="text-right">都道府県
                  <span class="label label-danger label-margin-2px">必須</span></th>
                    <td>
                      <div class="row job_template_wrap">
                        <div class="col-sm-4 form-group">
                          <select class="form-control" name="area">
                           <option selected><%= @job.area %></option>
                            <% Area.all.each do |area| %>
                              <option value=<%= area.area_name %>><%= area.area_name %><br>
                              </option>
                            <% end %></option>
                        </select>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th class="text-right">画像<span class="label label-danger label-margin-2px">必須</span></th>
                    <td>
                      <div class="row">
                        <div class="col-sm-8 form-group">
                            <input id="picture_photo" name="picture[photo]" type="file" />
                        </div>
                      </div>
                    </td>
                </tr>


            </tbody>
          </table>
        <div class="btn-area text-right">
          <input type="hidden" value="0" name="job[lock_version]" id="job_lock_version">
          <input type="submit" name="edit" value="更新" class="btn btn-warning button-margin">
          <a href="/delete/<%= @job.id %>" name="delete" class="btn btn-success button-margin">削除</a>
        </div>

 <form method="post" action="edit/<%= @job.id %>/thanks">
  <input name="authenticity_token" type="hidden" value="1234" />

 <p>タイトル<br>
 <input type="text" name="title" size="50" value="<%= @job.title%>"></p>

 <p>説明文<br>
 <textarea name="description" cols="50" rows="5">
 <%= @job.description%>
 </textarea></p>

 <p>都道府県選択<br>
 <select name="area">
   <option selected><%= @job.area %></option>
     <% Area.all.each do |area| %>
     <!-- オブジェクト.each do |変数| -->
     <!-- <a href="/search?area= -->
   <option value=<%= area.area_name %>><%= area.area_name %><br></option>
     <% end %>
 </select></p>
   <!-- <button type="search" name="button"
     style="background-color:peachpuff;width:200px;height:28px;"
     onmouseover="this.style.background='#FF1493'"
     onmouseout="this.style.background='#FFB6C1'">検索！</button> -->

 <button type="submit" name="edit">更新</button>
<!-- <a href="/edit/<%= @job.id %>/thanks">更新</a> -->
  <a href="/delete/<%= @job.id %>">削除</a>
   </form>
  </body>

</html>
