<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>編集ページ</title>
  </head>
  <body>
編集ぺーじ

 <form method="post" action="edit/<%= @job.id %>/thanks">
  <input name="authenticity_token" type="hidden" value="1234" />

 <p>タイトル<br>
 <input type="text" name="title" size="50" value="<%= @job.title%>"></p>

 <p>説明文<br>
 <textarea name="description" cols="50" rows="5">
 <%= @job.description%>
 </textarea></p>

 <p>都道府県選択<br>
 <select name="area">
   <option selected><%= @job.area %></option>
     <% Area.all.each do |area| %>
     <!-- オブジェクト.each do |変数| -->
     <!-- <a href="/search?area= -->
   <option value=<%= area.area_name %>><%= area.area_name %><br></option>
     <% end %>
 </select></p>
   <!-- <button type="search" name="button"
     style="background-color:peachpuff;width:200px;height:28px;"
     onmouseover="this.style.background='#FF1493'"
     onmouseout="this.style.background='#FFB6C1'">検索！</button> -->

 <button type="submit" name="edit">更新</button>
<!-- <a href="/edit/<%= @job.id %>/thanks">更新</a> -->
  <a href="/delete/<%= @job.id %>">削除</a>
   </form>
  </body>

</html>
